# TEST

In [6]:
import pandas as pd

In [243]:
data = { 'Transaction ID': range(1, 51),
    'Date': pd.date_range(start='2024-01-01', periods=50, freq='D'),
    'Product Category': ['Electronics', 'Furniture', 'Clothing', 'Groceries', 'Books'] * 10,
    'Product Name': ['Laptop', 'Chair', 'T-Shirt', 'Milk', 'Novel'] * 10,
    'Units Sold': [10, 5, 20, 15, 7] * 10,
    'Unit Price': [1000, 200, 20, 2, 15] * 10,
    'Total Revenue': [10000, 1000, 400, 30, 105] * 10,
    'Region': ['North', 'South', 'East', 'West', 'Central'] * 10,
    'Payment Method': ['Credit Card', 'Debit Card', 'Cash', 'Credit Card', 'Cash'] * 10  }
df=pd.DataFrame(data)
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North,Credit Card
1,2,2024-01-02,Furniture,Chair,5,200,1000,South,Debit Card
2,3,2024-01-03,Clothing,T-Shirt,20,20,400,East,Cash
3,4,2024-01-04,Groceries,Milk,15,2,30,West,Credit Card
4,5,2024-01-05,Books,Novel,7,15,105,Central,Cash
5,6,2024-01-06,Electronics,Laptop,10,1000,10000,North,Credit Card
6,7,2024-01-07,Furniture,Chair,5,200,1000,South,Debit Card
7,8,2024-01-08,Clothing,T-Shirt,20,20,400,East,Cash
8,9,2024-01-09,Groceries,Milk,15,2,30,West,Credit Card
9,10,2024-01-10,Books,Novel,7,15,105,Central,Cash
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North,Credit Card
11,12,2024-01-12,Furniture,Chair,5,200,1000,South,Debit Card
12,13,2024-01-13,Clothing,T-Shirt,20,20,400,East,Cash
13,14,2024-01-14,Groceries,Milk,15,2,30,West,Credit Card
14,15,2024-01-15,Books,Novel,7,15,105,Central,Cash
15,16,2024-01-16,Electronics,Laptop,10,1000,10000,North,Credit Card
16,17,2024-01-17,Furniture,Chair,5,200,1000,South,Debit Card
17,18,2024-01-18,Clothing,T-Shirt,20,20,400,East,Cash
18,19,2024-01-19,Groceries,Milk,15,2,30,West,Credit Card
19,20,2024-01-20,Books,Novel,7,15,105,Central,Cash
20,21,2024-01-21,Electronics,Laptop,10,1000,10000,North,Credit Card
21,22,2024-01-22,Furniture,Chair,5,200,1000,South,Debit Card
22,23,2024-01-23,Clothing,T-Shirt,20,20,400,East,Cash
23,24,2024-01-24,Groceries,Milk,15,2,30,West,Credit Card
24,25,2024-01-25,Books,Novel,7,15,105,Central,Cash
25,26,2024-01-26,Electronics,Laptop,10,1000,10000,North,Credit Card
26,27,2024-01-27,Furniture,Chair,5,200,1000,South,Debit Card
27,28,2024-01-28,Clothing,T-Shirt,20,20,400,East,Cash
28,29,2024-01-29,Groceries,Milk,15,2,30,West,Credit Card
29,30,2024-01-30,Books,Novel,7,15,105,Central,Cash
30,31,2024-01-31,Electronics,Laptop,10,1000,10000,North,Credit Card
31,32,2024-02-01,Furniture,Chair,5,200,1000,South,Debit Card
32,33,2024-02-02,Clothing,T-Shirt,20,20,400,East,Cash
33,34,2024-02-03,Groceries,Milk,15,2,30,West,Credit Card
34,35,2024-02-04,Books,Novel,7,15,105,Central,Cash
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North,Credit Card
36,37,2024-02-06,Furniture,Chair,5,200,1000,South,Debit Card
37,38,2024-02-07,Clothing,T-Shirt,20,20,400,East,Cash
38,39,2024-02-08,Groceries,Milk,15,2,30,West,Credit Card
39,40,2024-02-09,Books,Novel,7,15,105,Central,Cash
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North,Credit Card
41,42,2024-02-11,Furniture,Chair,5,200,1000,South,Debit Card
42,43,2024-02-12,Clothing,T-Shirt,20,20,400,East,Cash
43,44,2024-02-13,Groceries,Milk,15,2,30,West,Credit Card
44,45,2024-02-14,Books,Novel,7,15,105,Central,Cash
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North,Credit Card
46,47,2024-02-16,Furniture,Chair,5,200,1000,South,Debit Card
47,48,2024-02-17,Clothing,T-Shirt,20,20,400,East,Cash
48,49,2024-02-18,Groceries,Milk,15,2,30,West,Credit Card
49,50,2024-02-19,Books,Novel,7,15,105,Central,Cash

# Question 1
# Display Basic Information.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    50 non-null     int64
 1   Date              50 non-null     datetime64[ns]
 2   Product Category  50 non-null     object
 3   Product Name      50 non-null     object
 4   Units Sold        50 non-null     int64
 5   Unit Price        50 non-null     int64
 6   Total Revenue     50 non-null     int64
 7   Region            50 non-null     object
 8   Payment Method    50 non-null     object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 3.6+ KB

In [18]:
df.describe()

,Transaction ID,Date,Units Sold,Unit Price,Total Revenue
count,50.00000,50,50.000000,50.000000,50.000000
mean,25.50000,2024-01-25 12:00:00,11.400000,247.400000,2307.000000
min,1.00000,2024-01-01 00:00:00,5.000000,2.000000,30.000000
25%,13.25000,2024-01-13 06:00:00,7.000000,15.000000,105.000000
50%,25.50000,2024-01-25 12:00:00,10.000000,20.000000,400.000000
75%,37.75000,2024-02-06 18:00:00,15.000000,200.000000,1000.000000
max,50.00000,2024-02-19 00:00:00,20.000000,1000.000000,10000.000000
std,14.57738,NaN,5.518059,387.191668,3900.828797

In [100]:
df.isna()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False

In [102]:
df.size

450

In [104]:
df.shape

(50, 9)

In [112]:
df.columns

Index(['Transaction ID', 'Date', 'Product Category', 'Product Name',
       'Units Sold', 'Unit Price', 'Total Revenue', 'Region',
       'Payment Method'],
      dtype='object')

# Question 2
# How many transactions were made for each product category?

In [22]:
df['Product Category'].value_counts()

Product Category
Electronics    10
Furniture      10
Clothing       10
Groceries      10
Books          10
Name: count, dtype: int64

# Question 3
# What is the count of each payment method used in the dataset

In [26]:
df['Payment Method'].value_counts()

Payment Method
Credit Card    20
Cash           20
Debit Card     10
Name: count, dtype: int64

# Question 4
# Sort the dataset by Total Revenue in descending order and list the top 5 transactions

In [46]:
a=df.sort_values(by='Total Revenue',ascending= False)
a.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North,Credit Card
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North,Credit Card
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North,Credit Card
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North,Credit Card
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North,Credit Card

# Question 5
# Sort the dataset by Units Sold in ascending order and list the first 10 transactions.

In [62]:
b=df.sort_values(by='Units Sold')
b.head(10)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
1,2,2024-01-02,Furniture,Chair,5,200,1000,South,Debit Card
46,47,2024-02-16,Furniture,Chair,5,200,1000,South,Debit Card
41,42,2024-02-11,Furniture,Chair,5,200,1000,South,Debit Card
6,7,2024-01-07,Furniture,Chair,5,200,1000,South,Debit Card
36,37,2024-02-06,Furniture,Chair,5,200,1000,South,Debit Card
31,32,2024-02-01,Furniture,Chair,5,200,1000,South,Debit Card
11,12,2024-01-12,Furniture,Chair,5,200,1000,South,Debit Card
26,27,2024-01-27,Furniture,Chair,5,200,1000,South,Debit Card
21,22,2024-01-22,Furniture,Chair,5,200,1000,South,Debit Card
16,17,2024-01-17,Furniture,Chair,5,200,1000,South,Debit Card

# Question 6
# Convert the dataset from wide format to long format with Transaction ID, Date, Product Category, Product Name, Region, and Payment Method as identifier variables, and Units Sold, Unit Price, and Total Revenue as measured variables.

In [88]:
df_melt= pd.melt(df,id_vars=['Transaction ID','Date','Product Category','Product Name','Region','Payment Method'], value_vars=['Units Sold','Unit Price','Total Revenue'])
df_melt

,Transaction ID,Date,Product Category,Product Name,Region,Payment Method,variable,value
0,1,2024-01-01,Electronics,Laptop,North,Credit Card,Units Sold,10
1,2,2024-01-02,Furniture,Chair,South,Debit Card,Units Sold,5
2,3,2024-01-03,Clothing,T-Shirt,East,Cash,Units Sold,20
3,4,2024-01-04,Groceries,Milk,West,Credit Card,Units Sold,15
4,5,2024-01-05,Books,Novel,Central,Cash,Units Sold,7
...,...,...,...,...,...,...,...,...
145,46,2024-02-15,Electronics,Laptop,North,Credit Card,Total Revenue,10000
146,47,2024-02-16,Furniture,Chair,South,Debit Card,Total Revenue,1000
147,48,2024-02-17,Clothing,T-Shirt,East,Cash,Total Revenue,400
148,49,2024-02-18,Groceries,Milk,West,Credit Card,Total Revenue,30
149,50,2024-02-19,Books,Novel,Central,Cash,Total Revenue,105

# Question 7
# Create a pivot table to summarize total revenue for each product category by region.

In [147]:
df_pivot=df.pivot(values=['Total Revenue'],columns=['Product Category','Region'])
df_pivot

                 Total Revenue
Product Category   Electronics Furniture Clothing Groceries   Books
Region                   North     South     East      West Central
0                      10000.0       NaN      NaN       NaN     NaN
1                          NaN    1000.0      NaN       NaN     NaN
2                          NaN       NaN    400.0       NaN     NaN
3                          NaN       NaN      NaN      30.0     NaN
4                          NaN       NaN      NaN       NaN   105.0
5                      10000.0       NaN      NaN       NaN     NaN
6                          NaN    1000.0      NaN       NaN     NaN
7                          NaN       NaN    400.0       NaN     NaN
8                          NaN       NaN      NaN      30.0     NaN
9                          NaN       NaN      NaN       NaN   105.0
10                     10000.0       NaN      NaN       NaN     NaN
11                         NaN    1000.0      NaN       NaN     NaN
12                         NaN       NaN    400.0       NaN     NaN
13                         NaN       NaN      NaN      30.0     NaN
14                         NaN       NaN      NaN       NaN   105.0
15                     10000.0       NaN      NaN       NaN     NaN
16                         NaN    1000.0      NaN       NaN     NaN
17                         NaN       NaN    400.0       NaN     NaN
18                         NaN       NaN      NaN      30.0     NaN
19                         NaN       NaN      NaN       NaN   105.0
20                     10000.0       NaN      NaN       NaN     NaN
21                         NaN    1000.0      NaN       NaN     NaN
22                         NaN       NaN    400.0       NaN     NaN
23                         NaN       NaN      NaN      30.0     NaN
24                         NaN       NaN      NaN       NaN   105.0
25                     10000.0       NaN      NaN       NaN     NaN
26                         NaN    1000.0      NaN       NaN     NaN
27                         NaN       NaN    400.0       NaN     NaN
28                         NaN       NaN      NaN      30.0     NaN
29                         NaN       NaN      NaN       NaN   105.0
30                     10000.0       NaN      NaN       NaN     NaN
31                         NaN    1000.0      NaN       NaN     NaN
32                         NaN       NaN    400.0       NaN     NaN
33                         NaN       NaN      NaN      30.0     NaN
34                         NaN       NaN      NaN       NaN   105.0
35                     10000.0       NaN      NaN       NaN     NaN
36                         NaN    1000.0      NaN       NaN     NaN
37                         NaN       NaN    400.0       NaN     NaN
38                         NaN       NaN      NaN      30.0     NaN
39                         NaN       NaN      NaN       NaN   105.0
40                     10000.0       NaN      NaN       NaN     NaN
41                         NaN    1000.0      NaN       NaN     NaN
42                         NaN       NaN    400.0       NaN     NaN
43                         NaN       NaN      NaN      30.0     NaN
44                         NaN       NaN      NaN       NaN   105.0
45                     10000.0       NaN      NaN       NaN     NaN
46                         NaN    1000.0      NaN       NaN     NaN
47                         NaN       NaN    400.0       NaN     NaN
48                         NaN       NaN      NaN      30.0     NaN
49                         NaN       NaN      NaN       NaN   105.0

# Question 8
# Create a pivot table to summarize the number of units sold for each product by date

In [143]:
df1_pivot=df.pivot(index='Date', columns= ['Product Category'], values='Units Sold')
df1_pivot

Product Category  Books  Clothing  Electronics  Furniture  Groceries
Date
2024-01-01          NaN       NaN         10.0        NaN        NaN
2024-01-02          NaN       NaN          NaN        5.0        NaN
2024-01-03          NaN      20.0          NaN        NaN        NaN
2024-01-04          NaN       NaN          NaN        NaN       15.0
2024-01-05          7.0       NaN          NaN        NaN        NaN
2024-01-06          NaN       NaN         10.0        NaN        NaN
2024-01-07          NaN       NaN          NaN        5.0        NaN
2024-01-08          NaN      20.0          NaN        NaN        NaN
2024-01-09          NaN       NaN          NaN        NaN       15.0
2024-01-10          7.0       NaN          NaN        NaN        NaN
2024-01-11          NaN       NaN         10.0        NaN        NaN
2024-01-12          NaN       NaN          NaN        5.0        NaN
2024-01-13          NaN      20.0          NaN        NaN        NaN
2024-01-14          NaN       NaN          NaN        NaN       15.0
2024-01-15          7.0       NaN          NaN        NaN        NaN
2024-01-16          NaN       NaN         10.0        NaN        NaN
2024-01-17          NaN       NaN          NaN        5.0        NaN
2024-01-18          NaN      20.0          NaN        NaN        NaN
2024-01-19          NaN       NaN          NaN        NaN       15.0
2024-01-20          7.0       NaN          NaN        NaN        NaN
2024-01-21          NaN       NaN         10.0        NaN        NaN
2024-01-22          NaN       NaN          NaN        5.0        NaN
2024-01-23          NaN      20.0          NaN        NaN        NaN
2024-01-24          NaN       NaN          NaN        NaN       15.0
2024-01-25          7.0       NaN          NaN        NaN        NaN
2024-01-26          NaN       NaN         10.0        NaN        NaN
2024-01-27          NaN       NaN          NaN        5.0        NaN
2024-01-28          NaN      20.0          NaN        NaN        NaN
2024-01-29          NaN       NaN          NaN        NaN       15.0
2024-01-30          7.0       NaN          NaN        NaN        NaN
2024-01-31          NaN       NaN         10.0        NaN        NaN
2024-02-01          NaN       NaN          NaN        5.0        NaN
2024-02-02          NaN      20.0          NaN        NaN        NaN
2024-02-03          NaN       NaN          NaN        NaN       15.0
2024-02-04          7.0       NaN          NaN        NaN        NaN
2024-02-05          NaN       NaN         10.0        NaN        NaN
2024-02-06          NaN       NaN          NaN        5.0        NaN
2024-02-07          NaN      20.0          NaN        NaN        NaN
2024-02-08          NaN       NaN          NaN        NaN       15.0
2024-02-09          7.0       NaN          NaN        NaN        NaN
2024-02-10          NaN       NaN         10.0        NaN        NaN
2024-02-11          NaN       NaN          NaN        5.0        NaN
2024-02-12          NaN      20.0          NaN        NaN        NaN
2024-02-13          NaN       NaN          NaN        NaN       15.0
2024-02-14          7.0       NaN          NaN        NaN        NaN
2024-02-15          NaN       NaN         10.0        NaN        NaN
2024-02-16          NaN       NaN          NaN        5.0        NaN
2024-02-17          NaN      20.0          NaN        NaN        NaN
2024-02-18          NaN       NaN          NaN        NaN       15.0
2024-02-19          7.0       NaN          NaN        NaN        NaN

# Question 9
# Check for any missing values in the dataset. If there are any, list the columns with missing values and their respective counts.

In [150]:
df.isna()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False

# Question 10
# Verify that there are no missing values in the Date column

In [163]:
df['Date'].isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: Date, dtype: bool

# Question 11 
# Group the dataset by Product Category and calculate the total units sold for each category.

In [166]:
df.groupby(['Product Category'])['Units Sold'].sum().to_frame()

                  Units Sold
Product Category
Books                     70
Clothing                 200
Electronics              100
Furniture                 50
Groceries                150

# Question 12
# Group the dataset by Region and find the average unit price for each region.

In [171]:
df.groupby(['Region'])['Unit Price'].mean().to_frame()

         Unit Price
Region
Central        15.0
East           20.0
North        1000.0
South         200.0
West            2.0

# Question 13
# Use the apply function to create a new column called Discounted Revenue which is 90% of the Total Revenue.

In [197]:
def Dis_Rev (df):
    return (df['Total Revenue']*90/100)

df['Discounted Revenue']=df.apply(Dis_Rev,axis=1)
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,Discounted Revenue
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
1,2,2024-01-02,Furniture,Chair,5,200,1000,South,Debit Card,900.0
2,3,2024-01-03,Clothing,T-Shirt,20,20,400,East,Cash,360.0
3,4,2024-01-04,Groceries,Milk,15,2,30,West,Credit Card,27.0
4,5,2024-01-05,Books,Novel,7,15,105,Central,Cash,94.5
5,6,2024-01-06,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
6,7,2024-01-07,Furniture,Chair,5,200,1000,South,Debit Card,900.0
7,8,2024-01-08,Clothing,T-Shirt,20,20,400,East,Cash,360.0
8,9,2024-01-09,Groceries,Milk,15,2,30,West,Credit Card,27.0
9,10,2024-01-10,Books,Novel,7,15,105,Central,Cash,94.5
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
11,12,2024-01-12,Furniture,Chair,5,200,1000,South,Debit Card,900.0
12,13,2024-01-13,Clothing,T-Shirt,20,20,400,East,Cash,360.0
13,14,2024-01-14,Groceries,Milk,15,2,30,West,Credit Card,27.0
14,15,2024-01-15,Books,Novel,7,15,105,Central,Cash,94.5
15,16,2024-01-16,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
16,17,2024-01-17,Furniture,Chair,5,200,1000,South,Debit Card,900.0
17,18,2024-01-18,Clothing,T-Shirt,20,20,400,East,Cash,360.0
18,19,2024-01-19,Groceries,Milk,15,2,30,West,Credit Card,27.0
19,20,2024-01-20,Books,Novel,7,15,105,Central,Cash,94.5
20,21,2024-01-21,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
21,22,2024-01-22,Furniture,Chair,5,200,1000,South,Debit Card,900.0
22,23,2024-01-23,Clothing,T-Shirt,20,20,400,East,Cash,360.0
23,24,2024-01-24,Groceries,Milk,15,2,30,West,Credit Card,27.0
24,25,2024-01-25,Books,Novel,7,15,105,Central,Cash,94.5
25,26,2024-01-26,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
26,27,2024-01-27,Furniture,Chair,5,200,1000,South,Debit Card,900.0
27,28,2024-01-28,Clothing,T-Shirt,20,20,400,East,Cash,360.0
28,29,2024-01-29,Groceries,Milk,15,2,30,West,Credit Card,27.0
29,30,2024-01-30,Books,Novel,7,15,105,Central,Cash,94.5
30,31,2024-01-31,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
31,32,2024-02-01,Furniture,Chair,5,200,1000,South,Debit Card,900.0
32,33,2024-02-02,Clothing,T-Shirt,20,20,400,East,Cash,360.0
33,34,2024-02-03,Groceries,Milk,15,2,30,West,Credit Card,27.0
34,35,2024-02-04,Books,Novel,7,15,105,Central,Cash,94.5
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
36,37,2024-02-06,Furniture,Chair,5,200,1000,South,Debit Card,900.0
37,38,2024-02-07,Clothing,T-Shirt,20,20,400,East,Cash,360.0
38,39,2024-02-08,Groceries,Milk,15,2,30,West,Credit Card,27.0
39,40,2024-02-09,Books,Novel,7,15,105,Central,Cash,94.5
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
41,42,2024-02-11,Furniture,Chair,5,200,1000,South,Debit Card,900.0
42,43,2024-02-12,Clothing,T-Shirt,20,20,400,East,Cash,360.0
43,44,2024-02-13,Groceries,Milk,15,2,30,West,Credit Card,27.0
44,45,2024-02-14,Books,Novel,7,15,105,Central,Cash,94.5
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
46,47,2024-02-16,Furniture,Chair,5,200,1000,South,Debit Card,900.0
47,48,2024-02-17,Clothing,T-Shirt,20,20,400,East,Cash,360.0
48,49,2024-02-18,Groceries,Milk,15,2,30,West,Credit Card,27.0
49,50,2024-02-19,Books,Novel,7,15,105,Central,Cash,94.5

# Question 14
# Apply a lambda function to the Units Sold column to increase each value by 10%.

In [216]:
df1=df['Units Sold'].apply(lambda x:x+(10/100))
df1.to_frame()

    Units Sold
0         10.1
1          5.1
2         20.1
3         15.1
4          7.1
5         10.1
6          5.1
7         20.1
8         15.1
9          7.1
10        10.1
11         5.1
12        20.1
13        15.1
14         7.1
15        10.1
16         5.1
17        20.1
18        15.1
19         7.1
20        10.1
21         5.1
22        20.1
23        15.1
24         7.1
25        10.1
26         5.1
27        20.1
28        15.1
29         7.1
30        10.1
31         5.1
32        20.1
33        15.1
34         7.1
35        10.1
36         5.1
37        20.1
38        15.1
39         7.1
40        10.1
41         5.1
42        20.1
43        15.1
44         7.1
45        10.1
46         5.1
47        20.1
48        15.1
49         7.1

# Question 15
# Filter the dataset to include only transactions where the Total Revenue is greater than 5000.

In [225]:
df2=df[(df['Total Revenue']> 5000)]
df2

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,Discounted Revenue
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
5,6,2024-01-06,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
15,16,2024-01-16,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
20,21,2024-01-21,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
25,26,2024-01-26,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
30,31,2024-01-31,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0

# Question 16
# Filter the dataset to include transactions from the North region only.

In [236]:
df[(df['Region']=='North')]

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,Discounted Revenue
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
5,6,2024-01-06,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
15,16,2024-01-16,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
20,21,2024-01-21,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
25,26,2024-01-26,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
30,31,2024-01-31,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North,Credit Card,9000.0

# Question 17 
# Drop the Payment Method column from the dataset and display the updated dataset.

In [253]:
df3=df.pop('Payment Method')
df3

0     Credit Card
1      Debit Card
2            Cash
3     Credit Card
4            Cash
5     Credit Card
6      Debit Card
7            Cash
8     Credit Card
9            Cash
10    Credit Card
11     Debit Card
12           Cash
13    Credit Card
14           Cash
15    Credit Card
16     Debit Card
17           Cash
18    Credit Card
19           Cash
20    Credit Card
21     Debit Card
22           Cash
23    Credit Card
24           Cash
25    Credit Card
26     Debit Card
27           Cash
28    Credit Card
29           Cash
30    Credit Card
31     Debit Card
32           Cash
33    Credit Card
34           Cash
35    Credit Card
36     Debit Card
37           Cash
38    Credit Card
39           Cash
40    Credit Card
41     Debit Card
42           Cash
43    Credit Card
44           Cash
45    Credit Card
46     Debit Card
47           Cash
48    Credit Card
49           Cash
Name: Payment Method, dtype: object

In [255]:
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North
1,2,2024-01-02,Furniture,Chair,5,200,1000,South
2,3,2024-01-03,Clothing,T-Shirt,20,20,400,East
3,4,2024-01-04,Groceries,Milk,15,2,30,West
4,5,2024-01-05,Books,Novel,7,15,105,Central
5,6,2024-01-06,Electronics,Laptop,10,1000,10000,North
6,7,2024-01-07,Furniture,Chair,5,200,1000,South
7,8,2024-01-08,Clothing,T-Shirt,20,20,400,East
8,9,2024-01-09,Groceries,Milk,15,2,30,West
9,10,2024-01-10,Books,Novel,7,15,105,Central
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North
11,12,2024-01-12,Furniture,Chair,5,200,1000,South
12,13,2024-01-13,Clothing,T-Shirt,20,20,400,East
13,14,2024-01-14,Groceries,Milk,15,2,30,West
14,15,2024-01-15,Books,Novel,7,15,105,Central
15,16,2024-01-16,Electronics,Laptop,10,1000,10000,North
16,17,2024-01-17,Furniture,Chair,5,200,1000,South
17,18,2024-01-18,Clothing,T-Shirt,20,20,400,East
18,19,2024-01-19,Groceries,Milk,15,2,30,West
19,20,2024-01-20,Books,Novel,7,15,105,Central
20,21,2024-01-21,Electronics,Laptop,10,1000,10000,North
21,22,2024-01-22,Furniture,Chair,5,200,1000,South
22,23,2024-01-23,Clothing,T-Shirt,20,20,400,East
23,24,2024-01-24,Groceries,Milk,15,2,30,West
24,25,2024-01-25,Books,Novel,7,15,105,Central
25,26,2024-01-26,Electronics,Laptop,10,1000,10000,North
26,27,2024-01-27,Furniture,Chair,5,200,1000,South
27,28,2024-01-28,Clothing,T-Shirt,20,20,400,East
28,29,2024-01-29,Groceries,Milk,15,2,30,West
29,30,2024-01-30,Books,Novel,7,15,105,Central
30,31,2024-01-31,Electronics,Laptop,10,1000,10000,North
31,32,2024-02-01,Furniture,Chair,5,200,1000,South
32,33,2024-02-02,Clothing,T-Shirt,20,20,400,East
33,34,2024-02-03,Groceries,Milk,15,2,30,West
34,35,2024-02-04,Books,Novel,7,15,105,Central
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North
36,37,2024-02-06,Furniture,Chair,5,200,1000,South
37,38,2024-02-07,Clothing,T-Shirt,20,20,400,East
38,39,2024-02-08,Groceries,Milk,15,2,30,West
39,40,2024-02-09,Books,Novel,7,15,105,Central
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North
41,42,2024-02-11,Furniture,Chair,5,200,1000,South
42,43,2024-02-12,Clothing,T-Shirt,20,20,400,East
43,44,2024-02-13,Groceries,Milk,15,2,30,West
44,45,2024-02-14,Books,Novel,7,15,105,Central
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North
46,47,2024-02-16,Furniture,Chair,5,200,1000,South
47,48,2024-02-17,Clothing,T-Shirt,20,20,400,East
48,49,2024-02-18,Groceries,Milk,15,2,30,West
49,50,2024-02-19,Books,Novel,7,15,105,Central

# Question 18
# Drop rows where the Units Sold is less than 10 and display the updated dataset.

In [291]:
a=df[(df["Units Sold"]<10)]
a
df4= df.drop(a)
df4

KeyError: "['Transaction ID', 'Date', 'Product Category', 'Product Name', 'Units Sold', 'Unit Price', 'Total Revenue', 'Region'] not found in axis"

# Question 19
# Check for any duplicate rows in the dataset and list them

In [300]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

# Question 20
# Remove duplicate rows based on the Transaction ID column and display the cleaned dataset.

In [305]:
data=df.drop_duplicates(subset='Transaction ID')
data

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region
0,1,2024-01-01,Electronics,Laptop,10,1000,10000,North
1,2,2024-01-02,Furniture,Chair,5,200,1000,South
2,3,2024-01-03,Clothing,T-Shirt,20,20,400,East
3,4,2024-01-04,Groceries,Milk,15,2,30,West
4,5,2024-01-05,Books,Novel,7,15,105,Central
5,6,2024-01-06,Electronics,Laptop,10,1000,10000,North
6,7,2024-01-07,Furniture,Chair,5,200,1000,South
7,8,2024-01-08,Clothing,T-Shirt,20,20,400,East
8,9,2024-01-09,Groceries,Milk,15,2,30,West
9,10,2024-01-10,Books,Novel,7,15,105,Central
10,11,2024-01-11,Electronics,Laptop,10,1000,10000,North
11,12,2024-01-12,Furniture,Chair,5,200,1000,South
12,13,2024-01-13,Clothing,T-Shirt,20,20,400,East
13,14,2024-01-14,Groceries,Milk,15,2,30,West
14,15,2024-01-15,Books,Novel,7,15,105,Central
15,16,2024-01-16,Electronics,Laptop,10,1000,10000,North
16,17,2024-01-17,Furniture,Chair,5,200,1000,South
17,18,2024-01-18,Clothing,T-Shirt,20,20,400,East
18,19,2024-01-19,Groceries,Milk,15,2,30,West
19,20,2024-01-20,Books,Novel,7,15,105,Central
20,21,2024-01-21,Electronics,Laptop,10,1000,10000,North
21,22,2024-01-22,Furniture,Chair,5,200,1000,South
22,23,2024-01-23,Clothing,T-Shirt,20,20,400,East
23,24,2024-01-24,Groceries,Milk,15,2,30,West
24,25,2024-01-25,Books,Novel,7,15,105,Central
25,26,2024-01-26,Electronics,Laptop,10,1000,10000,North
26,27,2024-01-27,Furniture,Chair,5,200,1000,South
27,28,2024-01-28,Clothing,T-Shirt,20,20,400,East
28,29,2024-01-29,Groceries,Milk,15,2,30,West
29,30,2024-01-30,Books,Novel,7,15,105,Central
30,31,2024-01-31,Electronics,Laptop,10,1000,10000,North
31,32,2024-02-01,Furniture,Chair,5,200,1000,South
32,33,2024-02-02,Clothing,T-Shirt,20,20,400,East
33,34,2024-02-03,Groceries,Milk,15,2,30,West
34,35,2024-02-04,Books,Novel,7,15,105,Central
35,36,2024-02-05,Electronics,Laptop,10,1000,10000,North
36,37,2024-02-06,Furniture,Chair,5,200,1000,South
37,38,2024-02-07,Clothing,T-Shirt,20,20,400,East
38,39,2024-02-08,Groceries,Milk,15,2,30,West
39,40,2024-02-09,Books,Novel,7,15,105,Central
40,41,2024-02-10,Electronics,Laptop,10,1000,10000,North
41,42,2024-02-11,Furniture,Chair,5,200,1000,South
42,43,2024-02-12,Clothing,T-Shirt,20,20,400,East
43,44,2024-02-13,Groceries,Milk,15,2,30,West
44,45,2024-02-14,Books,Novel,7,15,105,Central
45,46,2024-02-15,Electronics,Laptop,10,1000,10000,North
46,47,2024-02-16,Furniture,Chair,5,200,1000,South
47,48,2024-02-17,Clothing,T-Shirt,20,20,400,East
48,49,2024-02-18,Groceries,Milk,15,2,30,West
49,50,2024-02-19,Books,Novel,7,15,105,Central