In [3]:
import pandas as pd
data=pd.read_csv('moviesdata.csv')
data

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1465 non-null   int64
 1   id            1465 non-null   int64
 2   budget        1465 non-null   int64
 3   popularity    1465 non-null   int64
 4   revenue       1465 non-null   int64
 5   title         1465 non-null   object
 6   vote_average  1465 non-null   float64
 7   vote_count    1465 non-null   int64
 8   director_id   1465 non-null   int64
 9   year          1465 non-null   int64
 10  month         1465 non-null   object
 11  day           1465 non-null   object
dtypes: float64(1), int64(8), object(3)
memory usage: 137.5+ KB

In [7]:
data.shape

(1465, 12)

In [9]:
data.size

17580

In [13]:
data.describe()

,Unnamed: 0,id,budget,popularity,revenue,vote_average,vote_count,director_id,year
count,1465.000000,1465.000000,1.465000e+03,1465.000000,1.465000e+03,1465.000000,1465.000000,1465.000000,1465.000000
mean,1627.391809,45225.191126,4.802295e+07,30.855973,1.432539e+08,6.368191,1146.396587,5040.192491,2002.615017
std,1187.182894,1189.096396,4.935541e+07,34.845214,2.064918e+08,0.818033,1578.077438,258.059631,8.680141
min,0.000000,43597.000000,0.000000e+00,0.000000,0.000000e+00,3.000000,1.000000,4762.000000,1976.000000
25%,639.000000,44236.000000,1.400000e+07,11.000000,1.738013e+07,5.900000,216.000000,4845.000000,1998.000000
50%,1425.000000,45022.000000,3.300000e+07,23.000000,7.578164e+07,6.400000,571.000000,4964.000000,2004.000000
75%,2393.000000,45990.000000,6.600000e+07,41.000000,1.792469e+08,6.900000,1387.000000,5179.000000,2009.000000
max,4768.000000,48395.000000,3.800000e+08,724.000000,2.787965e+09,8.300000,13752.000000,6204.000000,2016.000000

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1465.0,1.627392e+03,1.187183e+03,0.0,639.0,1425.0,2393.0,4.768000e+03
id,1465.0,4.522519e+04,1.189096e+03,43597.0,44236.0,45022.0,45990.0,4.839500e+04
budget,1465.0,4.802295e+07,4.935541e+07,0.0,14000000.0,33000000.0,66000000.0,3.800000e+08
popularity,1465.0,3.085597e+01,3.484521e+01,0.0,11.0,23.0,41.0,7.240000e+02
revenue,1465.0,1.432539e+08,2.064918e+08,0.0,17380126.0,75781642.0,179246868.0,2.787965e+09
vote_average,1465.0,6.368191e+00,8.180335e-01,3.0,5.9,6.4,6.9,8.300000e+00
vote_count,1465.0,1.146397e+03,1.578077e+03,1.0,216.0,571.0,1387.0,1.375200e+04
director_id,1465.0,5.040192e+03,2.580596e+02,4762.0,4845.0,4964.0,5179.0,6.204000e+03
year,1465.0,2.002615e+03,8.680141e+00,1976.0,1998.0,2004.0,2009.0,2.016000e+03

In [21]:
data.columns

Index(['Unnamed: 0', 'id', 'budget', 'popularity', 'revenue', 'title',
       'vote_average', 'vote_count', 'director_id', 'year', 'month', 'day'],
      dtype='object')

In [27]:
data.tail(10)

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
1455,4684,48310,160000,3,6706368,Roger & Me,7.4,90,5697,1989,Sep,Friday
1456,4694,48321,10000,20,7000000,Eraserhead,7.5,485,5265,1977,Mar,Saturday
1457,4696,48323,0,5,0,The Mighty,7.1,51,4921,1998,Oct,Friday
1458,4708,48335,60000,27,3221152,Pi,7.1,586,4881,1998,Jul,Friday
1459,4732,48359,0,2,0,George Washington,6.4,36,5231,2000,Oct,Sunday
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [25]:
data.tail()

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [29]:
data.head()

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [31]:
data.head(7)

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
5,9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
6,10,43607,270000000,57,391081192,Superman Returns,5.4,1400,4772,2006,Jun,Wednesday

In [ ]:
#range of popularity
#films  shown on saturday
#extract in specific year

In [33]:
a=data[(data['popularity']>100)]
a

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
5,9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
7,11,43608,200000000,107,586090727,Quantum of Solace,6.1,2965,4773,2008,Oct,Thursday
8,12,43609,200000000,145,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,4763,2006,Jun,Tuesday
12,17,43614,380000000,135,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,4775,2011,May,Saturday
14,19,43616,250000000,120,956019788,The Hobbit: The Battle of the Five Armies,7.1,4760,4777,2014,Dec,Wednesday
26,36,43633,210000000,116,1091405097,Transformers: Age of Extinction,5.8,3095,4788,2014,Jun,Wednesday
30,44,43641,190000000,102,1506249360,Furious 7,7.3,4176,4794,2015,Apr,Wednesday
32,46,43643,250000000,118,747862775,X-Men: Days of Future Past,7.5,6032,4772,2014,May,Thursday
44,64,43661,178000000,139,543934787,X-Men: Apocalypse,6.4,4721,4772,2016,May,Wednesday
45,65,43662,185000000,187,1004558444,The Dark Knight,8.2,12002,4765,2008,Jul,Wednesday
46,68,43665,140000000,120,585174222,Iron Man,7.4,8776,4808,2008,Apr,Wednesday
58,95,43692,165000000,724,675120017,Interstellar,8.1,10867,4765,2014,Nov,Wednesday
59,96,43693,160000000,167,825532764,Inception,8.1,13752,4765,2010,Jul,Wednesday
60,98,43695,250000000,108,1021103568,The Hobbit: An Unexpected Journey,7.0,8297,4777,2012,Nov,Monday
63,102,43699,160000000,127,653428261,The Hunger Games: Mockingjay - Part 2,6.6,3984,4831,2015,Nov,Wednesday
70,114,43711,150000000,101,895921036,Harry Potter and the Goblet of Fire,7.5,5608,4797,2005,Nov,Saturday
74,119,43716,150000000,115,374218673,Batman Begins,7.5,7359,4765,2005,Jun,Friday
78,127,43724,150000000,434,378858340,Mad Max: Fury Road,7.2,9427,4845,2015,May,Wednesday
93,157,43754,140000000,101,268031828,Exodus: Gods and Kings,5.6,1921,4779,2014,Dec,Wednesday
116,195,43792,127000000,115,349424282,Night at the Museum: Secret of the Tomb,6.1,1851,4842,2014,Dec,Wednesday
117,197,43794,125000000,109,976475550,Harry Potter and the Philosopher's Stone,7.5,7006,4885,2001,Nov,Friday
119,199,43796,140000000,271,655011224,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday
120,200,43797,125000000,206,752100229,The Hunger Games: Mockingjay - Part 1,6.6,5584,4831,2014,Nov,Tuesday
143,238,43835,125000000,143,477200000,Teenage Mutant Ninja Turtles,5.8,2636,4849,2014,Aug,Thursday
149,249,43846,110000000,103,295238201,Insurgent,6.2,3829,4886,2015,Mar,Wednesday
156,262,43859,93000000,138,871368364,The Lord of the Rings: The Fellowship of the Ring,8.0,8705,4777,2001,Dec,Tuesday
162,270,43867,108000000,167,630161890,The Martian,7.6,7268,4779,2015,Sep,Wednesday
167,276,43873,100000000,132,876688482,Harry Potter and the Chamber of Secrets,7.4,5815,4885,2002,Nov,Wednesday
170,279,43876,100000000,101,520000000,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday
196,322,43919,90000000,109,263920180,The Fifth Element,7.3,3885,4949,1997,May,Wednesday
197,326,43923,95000000,101,543514353,Cinderella,6.7,2374,4847,2015,Mar,Thursday
199,329,43926,94000000,123,1118888979,The Lord of the Rings: The Return of the King,8.1,8064,4777,2003,Dec,Monday
200,330,43927,79000000,106,926287400,The Lord of the Rings: The Two Towers,8.0,7487,4777,2002,Dec,Wednesday
205,342,43939,90000000,104,589390539,Men in Black,6.9,4412,4776,1997,Jul,Wednesday
218,362,43959,88000000,140,243637091,Pixels,5.6,2513,4885,2015,Jul,Thursday
254,423,44020,80000000,109,484572835,Bruce Almighty,6.4,3012,4812,2003,May,Friday
273,456,44053,68000000,139,211817906,Fury,7.4,3946,4811,2014,Oct,Wednesday
364,634,44231,63000000,104,463517383,The Matrix,7.9,8907,4805,1999,Mar,Tuesday
383,662,44259,63000000,146,100853753,Fight Club,8.3,9413,4829,1999,Oct,Friday
398,693,44290,61000000,143,369330363,Gone Girl,7.9,5862,4829,2014,Oct,Wednesday
459,809,44406,55000000,138,677945399,Forrest Gump,8.2,7927,4804,1994,Jul,Wednesday
612,1153,44750,40000000,115,126546825,Lucy,6.3,5878,4949,2014,Jul,Monday
695,1337,44934,37000000,127,392616625,Twilight,5.8,3561,5293,2008,Nov,Thursday
901,1818,45415,22000000,104,321365567,Schindler's List,8.3,4329,4799,1993,Nov,Monday
1284,3232,46829,8000000,121,213928762,Pulp Fiction,8.3,8428,4927,1994,Oct,Saturday

In [47]:
b=data['day']=='saturday'
b

0       False
1       False
2       False
3       False
4       False
        ...
1460    False
1461    False
1462    False
1463    False
1464    False
Name: day, Length: 1465, dtype: bool

In [59]:
a=data[data['year']==2006]
a

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2006,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2006,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2006,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2006,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2006,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,2006,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,2006,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2006,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,2006,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,2006,Sep,Friday

In [71]:
b=data[data['day']=='Saturday']
b

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2006,May,Saturday
12,17,43614,380000000,135,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,4775,2006,May,Saturday
40,59,43656,200000000,45,769653595,2012,5.6,4903,4803,2006,Oct,Saturday
51,73,43670,175000000,27,173000000,Evan Almighty,5.3,1151,4812,2006,Jun,Saturday
70,114,43711,150000000,101,895921036,Harry Potter and the Goblet of Fire,7.5,5608,4797,2006,Nov,Saturday
187,302,43899,80000000,37,140073390,Legend of the Guardians: The Owls of Ga'Hoole,6.5,703,4771,2006,Jul,Saturday
191,316,43913,100000000,46,193772504,Gangs of New York,7.1,1910,4809,2006,Dec,Saturday
198,327,43924,65000000,29,93525586,The Lovely Bones,6.6,1065,4777,2006,Dec,Saturday
212,353,43950,92000000,43,188072649,Tropic Thunder,6.5,1667,4960,2006,Aug,Saturday
246,405,44002,85000000,8,158468292,The Fast and the Furious: Tokyo Drift,6.1,1705,4802,2006,Jun,Saturday
281,475,44072,0,20,43312294,The Edge,6.7,349,4859,2006,Sep,Saturday
396,687,44284,65000000,65,422610419,300,7.0,4997,4771,2006,Dec,Saturday
547,997,44594,50000000,37,55969000,Zoolander 2,4.7,797,4960,2006,Feb,Saturday
655,1231,44828,40000000,31,55247881,Extremely Loud & Incredibly Close,6.9,708,5323,2006,Dec,Saturday
725,1407,45004,40000000,17,68766121,House of Wax,5.5,677,5202,2006,Apr,Saturday
744,1454,45051,35000000,16,42064105,A Good Year,6.5,357,4779,2006,Sep,Saturday
792,1565,45162,25000000,33,163670000,Up in the Air,6.7,1205,5450,2006,Sep,Saturday
811,1603,45200,30000000,32,53653224,Stranger Than Fiction,7.1,721,4773,2006,Sep,Saturday
904,1824,45421,0,7,0,The Face of an Angel,4.7,64,5549,2006,Sep,Saturday
942,1929,45526,25000000,5,11772461,The Hoax,6.4,60,5405,2006,Oct,Saturday
944,1939,45536,25000000,7,2405420,BloodRayne,3.5,118,5148,2006,Oct,Saturday
966,1994,45591,12500000,20,75993061,The Ides of March,6.5,910,5059,2006,Sep,Saturday
989,2071,45668,21000000,63,205738714,Silver Linings Playbook,6.9,4742,5123,2006,Sep,Saturday
1027,2166,45763,20000000,12,21284514,To Die For,6.7,175,5283,2006,May,Saturday
1034,2187,45784,20000000,32,60427839,21 Grams,7.2,918,4874,2006,Sep,Saturday
1089,2361,45958,18000000,14,8038061,The Ice Storm,6.9,176,4867,2006,Sep,Saturday
1107,2432,46029,17000000,7,7314027,American Dreamz,4.9,95,4924,2006,Mar,Saturday
1118,2465,46062,19000000,90,83258226,Pan's Labyrinth,7.6,3041,4798,2006,May,Saturday
1127,2501,46098,16000000,43,47801389,Hachi: A Dog's Tale,7.7,1717,5405,2006,Jun,Saturday
1211,2849,46446,12000000,29,17654912,Nebraska,7.4,636,5451,2006,Sep,Saturday
1233,2943,46540,0,6,0,Kinsey,6.6,131,4872,2006,Sep,Saturday
1239,2967,46564,10500000,56,792910554,E.T. the Extra-Terrestrial,7.3,3269,4799,2006,Apr,Saturday
1250,2995,46592,12305523,36,36230219,Mad Max Beyond Thunderdome,5.9,748,4845,2006,Jun,Saturday
1265,3074,46671,10000000,8,3193102,The Limey,6.6,105,4909,2006,May,Saturday
1282,3217,46814,12000000,3,20138836,The Namesake,6.8,50,5628,2006,Sep,Saturday
1284,3232,46829,8000000,121,213928762,Pulp Fiction,8.3,8428,4927,2006,Oct,Saturday
1290,3258,46855,8000000,9,16856124,The Good Girl,6.1,181,5519,2006,Jan,Saturday
1291,3261,46858,0,1,0,The City of Your Final Destination,5.7,9,5826,2006,Mar,Saturday
1311,3392,46989,3500000,5,0,Gerry,6.2,68,5283,2006,Jan,Saturday
1312,3401,46998,7000000,5,0,Twixt,5.0,85,5179,2006,Sep,Saturday
1357,3667,47265,5000000,11,0,Capricorn One,6.4,131,4935,2006,Dec,Saturday
1396,3984,47585,2000000,15,5364858,Diary of the Dead,5.4,190,4991,2006,Sep,Saturday
1416,4214,47819,0,5,0,Exotica,6.5,64,5599,2006,Sep,Saturday
1427,4325,47934,1300000,58,28262574,Taxi Driver,8.0,2535,4809,2006,Feb,Saturday
1442,4566,48185,860000,3,2451545,My Beautiful Laundrette,6.6,51,5249,2006,Sep,Saturday
1447,4610,48231,0,3,0,Better Luck Tomorrow,6.5,27,4802,2006,Jan,Saturday
1456,4694,48321,10000,20,7000000,Eraserhead,7.5,485,5265,2006,Mar,Saturday